# dependencies
/node_modules

# IDE
/.idea
/.awcache
/.vscode

# misc
npm-debug.log

# example
/quick-start

# tests
/test
/coverage
/.nyc_output

# dist
/dist
.vercel

**/.DS_Store

.env
.env.*

# local srcipts
scripts/*.sh
